<head>
  <title>Start Items</title> 
    <%= render "shared/navbar_races" %>
</head>
<div class="container-fluid">
  <table class="table table-hover table-bordered sortable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Race</th>
      <th>Start Time</th>
      <th>Finish Time</th>
    </tr>
    </thead>
    <tbody>
    <% @start_items.each do |item| %>
      <tr>
        <td><%= item.id  %></td>
        <td><%= item.racer_id  %></td>
        <td><%= item.race_id  %></td>
        <td><%= item.start_time %></td>
        <td><%= item.end_time %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>