<h1>Results</h1>
There are <%= @results.count %> total results.
<br>
<br>
<table>
  <tr>
    <th>Rank</th>
    <th>Bib</th>
    <th>Racer</th>
    <th>Group</th>
    <th>Time</th>
    <th>Date</th>
  </tr>
 
  <% @results.each do |result| %>
    <tr>
      <td><%= result.rank %></td>
      <td><%= result.bib %></td>
      <td><%= link_to result.racer.first_name + " " + result.racer.last_name, racer_path(result.racer) %></td>
      <td><%= result.group %></td>
      <td><%= result.time %></td>
      <td><%= result.date %></td>
      <td><%= link_to 'Show', result_path(result) %></td>
      <td><%= link_to 'Edit', edit_result_path(result) %></td>
      <td><%= link_to 'Destroy', result_path(result),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New result', new_result_path %>
<%= link_to 'Racers', racers_path %>
