<h1>New Result</h1>

<%= form_for @result do |r| %>
 
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@result.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @result.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= r.label :rank %><br>
    <%= r.text_field :rank %>
  </p>
  <p>
    <%= r.label :bib %><br>
    <%= r.text_field :bib %>
  </p>
  <p>
    <%= r.label :racer_id %><br>
    <%= r.text_field :racer_id %>
  </p>
  <p>
    <%= r.label :group %><br>
    <%= r.text_field :group %>
  </p>
  <p>
    <%= r.label :time %><br>
    <%= r.text_field :time %>
  </p>
  <p>
    <%= r.label :race_id %><br>
    <%= r.text_field :race_id %>
  </p>
 
  <p>
    <%= r.submit %>
  </p>
 
<% end %>