<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center">
        <h1>Log in</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br>  
          <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
          <br>
          New user? <%= link_to 'Sign up now!', new_user_path %> Or 
          <%= link_to "forgot password?", new_password_reset_path %>
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>