<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="<%= root_path %>"><b>Fog City Run</b> </a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Racers', racers_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Races', races_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Racer Count', count_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Records', records_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Loop-Beer-Loop', loop_beer_path %></a>
    </li>
    <%= render "shared/import_button" %>
  </ul>
  <%= render "shared/login" %>
</nav>
<body style="padding-top: 60px">
<div class="container-fluid">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Bib</th>
      <th>Group</th>
      <th>Racer</th>
      <th>Time</th>
      <% if current_user and current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @race.results.order(:rank).each do |result| %>
      <tr>
        <td><%= result.rank %></td>
        <td><%= result.bib %></td>
        <td><%= result.group_name %></td>
        <td><%= link_to result.racer.first_name + ' ' + result.racer.last_name, racer_path(result.racer)%></td>
        <td><%= result.time %></td>
        <% if current_user and current_user.admin? %>
        <td><%= link_to 'Edit', edit_result_path(result) %> |   <%= link_to 'Destroy',
                result_path(result), method: :delete, data: { confirm: 'Are you sure you want to delete the result for ' + result.racer.first_name.to_s + ' ' + result.racer.last_name.to_s } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if current_user and current_user.admin? %>
    <div class="row text-center">
    <%= link_to 'New Result', new_result_path(:race_id => @race.id), :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
</body>
</html>