<!DOCTYPE html>
<head>
  <title>Racers</title>
  <%= render "shared/navbar_races" %>
</head>
<div class="container-fluid">
  <% if @is_current_race %>
    <%= render "shared/timer" %>
  <% end %>
  <%= render "shared/start_list" %>
  <%= render "shared/results_list" %>
</div>
<script>
  var startTime = <%= @start_time %>;
  var inProgress = <%= @race_in_progess %>;
  $( document ).ready(function() {
    // Run the timer if the race is in progress
    if (inProgress) {
      startTimer()
    }
  });
</script>