<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :racer_id %><br>
    <%= f.text_field :racer_id %>
  </p>
  <p>
    <%= f.label :strava_link %><br>
    <%= f.text_field :strava_link %>
    (e.g. https://www.strava.com/athletes/[strava id])
  </p>
  <p>
    <%=button_tag "Submit", class: "btn btn-default"%>
  </p>
<% end %>
  </div>
</body>
</html>