<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Admin Permissions </th>
        <th>Racer ID</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.admin %></td>
          <td><%= user.racer_id %></td>
          <td><%= link_to "View", user_path(user) %></td>
      <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>