<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h2> New User </h2>
    </div>
  </div>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @user, :html => {:class => "form-horizontal "} do |u| %>
  <div class="form-group">
    <%= u.label :first_name, "First Name:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :first_name, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :last_name, "Last Name:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :last_name, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :email, "Email:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :email, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :racer_id, "Racer ID", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :racer_id, class: "form-control"%>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :strava_link, "Strava Link:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :strava_link, class: "form-control"%>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :password, "Password:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.password_field :password, class: "form-control"%>
      </div>
  </div>
  <div class="form-group">
    <div class="col-md-1 col-md-offset-1">
    <%=button_tag "Submit", class: "btn btn-success"%>
    </div>
  </div>
  </div>
  <% end %>
</body>
</html>