<!DOCTYPE html>
<html>
<head>
  <title>Races</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
  <h2> User </h2>
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= @user.last_name %>
  </p>
  <p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>
  </p>
    <strong>Racer_ID:</strong>
    <%= @user.racer_id %>
  </p>
  </p>
    <strong>Strava Link:</strong>
    <%= @user.strava_link %>
  </p>
  <%= link_to 'Back to user', users_path %></a>
  </div>
</body>
</html>