<!DOCTYPE html>
<html>
<head>
  <title>Races</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
  <h2> Your Profile </h2>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= @user.provider %>
  </p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>
  </p>
    <strong>Racer_ID:</strong>
    <%= @user.racer_id %>
  </p>
  </p>
    <strong>Strava Link:</strong>
    <%= link_to image_tag("icon-strava-blue.svg", height: 18), current_user.strava_link, :class => "fa-fw fa-lg" %>
    <%= @user.strava_link %>
  </p>
  <%= link_to 'Back to racers', racers_path %></a>
  </div>
</body>
</html>