<head>
  <title>Races</title>
  <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <h2> User </h2>
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= @user.last_name %>
  </p>
  <p>
    <strong>Admin:</strong>
    <% if @user.admin? %>
      <span class="label label-success">Admin</span>
    <% else %>
      <span class="label label-default">No</span>
    <% end %>
  </p>
  </p>
    <strong>Racer_ID:</strong>
    <%= @user.racer_id %>
  </p>
  </p>
    <strong>Strava Link:</strong>
    <%= @user.strava_link %>
  </p>
  <div class="user-actions" style="margin: 15px 0;">
    <%= link_to 'Back to users', users_path, class: "btn btn-default" %>
    <% if current_user && current_user.admin? && current_user != @user %>
      <%= link_to(
        @user.admin? ? "Remove Admin" : "Make Admin",
        toggle_admin_user_path(@user),
        method: :post,
        class: "btn #{@user.admin? ? 'btn-warning' : 'btn-success'}"
      ) %>
    <% end %>
  </div>
  </div>
</div>