<!DOCTYPE html>
<html>
<head>
<title>Racers</title>
<nav class="navbar navbar-default navbar navbar-fixed-top">
  <div class="container-fluid">
    <%= render "shared/navbar_header" %>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= render "shared/navbar_links" %>
        <%= render "shared/navbar_stats_dropdown" %>
        <%= render "shared/shop_button" %>
        <%= render "shared/navbar_racers_search" %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render "shared/login" %>
      </ul>
    </div>
  </div>
</nav>