<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
          Results (<%= @race_results_length %>)
      </a>
    </h4>
  </div>
  <div id="start_items_table" class="panel">
    <div class="panel-body">
      <table class="table table-hover table-bordered sortable" id="results-table">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Bib</th>
          <th>Group</th>
          <th>Racer</th>
          <th>Time</th>
          <% if current_user and current_user.admin? %>
            <th>Actions</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @race_results.each do |result| %>
          <tr>
            <td><%= result.rank %></td>
            <td><%= result.bib %></td>
            <td><%= result.group_name %></td>
            <td><%= link_to result.racer.first_name + ' ' + result.racer.last_name, racer_path(result.racer)%></td>
            <td><%= result.time %></td>
            <% if current_user and current_user.admin? %>
            <td><%= link_to 'Edit', edit_result_path(result), :class => "btn btn-default" %> <%= link_to 'Destroy',
                    result_path(result), method: :delete, data: { confirm: 'Are you sure you want to delete the result for ' + result.racer.first_name.to_s + ' ' + result.racer.last_name.to_s }, :class => "btn btn-default" %>
                    <%= link_to 'Continue', continue_time_path(result), method: :post, :class => "btn btn-default" %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if current_user and current_user.admin? and !@race_in_progess and @is_current_race %>
        <div class="row text-center">
          <%= link_to 'New Result', new_result_path(:race_id => @race.id), :class => "btn btn-default" %>
          <%= link_to 'Send Email', send_results_email_path(:race_id => @race), :class => "btn btn-default" %>
          <%= link_to 'Save Race', save_race_path(), method: :put, :class => "btn btn-default" %>
        </div>
      <% elsif current_user and current_user.admin? and !@race_in_progess and !@is_current_race %>
        <div class="row text-center">
          <%= link_to 'Enable Race', enable_race_path(), method: :put, :class => "btn btn-default" %>
        </div>
      <% end %>
  </div>
</div>