<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" 
      data-target="#start_items_table"
      href="#start_items_table">
          Entrants (<%= @start_items_length %>)
      </a>
    </h4>
  </div>
  <% if @show_start_items %>
    <div id="start_items_table" class="panel-collapse collapse.in">
  <% else %>
    <div id="start_items_table" class="panel-collapse collapse">
  <% end %>
    <div class="panel-body">
      <table class="table table-hover table-bordered sortable" id="start-items-table">
        <thead>
        <tr>
          <th>Bib</th>
          <th>Group</th>
          <th>Name</th>
          <th>Action </th>
        </tr>
        </thead>
        <tbody>
        <% @start_items.each do |item| %>
          <tr>
            <td><%= item.bib %></td>
            <td><%= item.group %></td>
            <td><%= link_to item.racer.first_name + ' ' + item.racer.last_name, racer_path(item.racer)%></td>
            <% if (current_user and current_user.racer_id == item.racer_id) or (current_user and current_user.admin?) %>
              <% if @race_in_progess and !item.finished %>
                <td><%= link_to 'Stop', collect_time_path(item), method: :post, :id => "stop-button", :remote => true, :class => "btn btn-default" %></td>
              <% end %>
              <% if !@race_in_progess %>
                <td><%= link_to 'Edit', edit_start_item_path(item), :class => "btn btn-default" %> <%= link_to 'Destroy', start_item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this start entry.'}, :class => "btn btn-default" %></li></td>
              <% end %>
            <% else %>
              <% if !@current_race %>
                <td><%= link_to 'Edit', edit_start_item_path(item), :class => "btn btn-default disabled" %> <%= link_to 'Destroy', start_item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this start entry.'}, :class => "btn btn-default disabled" %></li></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row text-center">
        <% if current_user and current_user.admin? and @is_current_race %>
          <%= link_to 'Register Racer', new_start_item_path(:race_id => @race.id), :class => "btn btn-default" %>
        <% end %>
        <% if current_user and current_user.admin? and !@race_in_progess and @is_current_race %>
          <%= link_to 'Start', start_race_path(), data: { confirm: 'start-race'}, id: "start-button", method: :put, :class => "btn btn-default" %>
        <% elsif current_user and current_user.admin? and @race_in_progess %>
          <%= link_to 'Stop Race', stop_race_path(), method: :put, :class => "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>

  document.addEventListener('DOMContentLoaded', (event) => {

    // Taken from: https://gist.github.com/khash/2594409
    $.rails.confirm = function(message, element) {
        var state = element.data('state');
        var txt = element.text();

        console.log(element.addClass("btn-danger countdown"));
        if (!state) {
            element.data('state', 'last');

            var count = 3
            var countTo = 1;

            element.text(count);

            var interval = setInterval(() => {
              count--;
              element.text(count);

              if (count < countTo) {
                element.text("Go!");
                element.data('state', null);
                $.rails.handleMethod(element);
                clearInterval(interval);
              }
            }, 1000);
            setTimeout(function()
            {
            }, 2000);
            return false;
        } else {
            return true;
        }
    }

    $.rails.allowAction = function(element) {
        var message = element.data('confirm'),
            answer = false, callback;

        if (!message) { return true; }

        if ($.rails.fire(element, 'confirm')) {
            answer = $.rails.confirm(message, element);
            callback = $.rails.fire(element, 'confirm:complete', [answer]);
        }

        return answer && callback;
    }
  });
</script