<head>
  <title>Welcome</title>
</head>
<body class="container welcome" style="padding-top: 60px">
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <br>
      <br>
      <br>
      <div class="col-md-8 col-md-offset-2 panel panel-default panel-transparent" style="height:50%;">
        <div class="text-center">
          <h1><b>Fog City Run</b></h1>
          <p>A weekly running race in San Francisco, CA</p>
          <br>
            <% if @next_race %>
              <h4> Next Race: <%= @next_race.date %> - <%= link_to "Register", race_path(@next_race) %> </h4>
            <% end %>
          <br>
        </div>
        <div class="text-left">
          <p><b><i class="fa fa-calendar"></i>&nbsp; When:</b> The race is every Wednesday @ 6:30pm. Rain or shine. Best to arrive at 6:15pm.</P>
          <p><b><i class="fa fa-globe"></i>&nbsp; Where:</b> We leave from <a href="http://www.thebluelightsf.com/"><i>The Blue Light</i></a> - <a href="http://maps.apple.com/?q=1979 Union St, San Francisco, CA 94123">1979 Union St, San Francisco, CA 94123.</a></P>
          <p><b><i class="fa fa-users"></i>&nbsp; How do I register?</b> Registration is upon arrival. $5.00 cash. We usually don't have change.</P>
          <p><b><i class="fa fa-road"></i>&nbsp; What is the course?</b> A hilly 5km(ish) route in the Marina / Presidio <a href="https://raw.githubusercontent.com/maxmetcalfe/Fog-City-Run/master/website/images/race_map.jpeg"> - Map </a> / <a href="https://www.strava.com/segments/7613369">Strava Segment.</a></P>
          <p><b><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;How many people come?</b> 5-20. You can view the race results <%= link_to "here", races_path %> </a> and our <a href=http://www.strava.com/segments/7613369>Strava.</a></P>
          <p><i class="fa fa-suitcase"></i><b>&nbsp;&nbsp;A locked closet is available for any extra belongings.</b></P>
          <p><a href="http://facebook.com/FogCityRun"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Go to our Facebook page. </a></P>
        </div>
        <div class="text-center">
          <i><%= link_to "Terms and Conditions", safety_path, :class => "terms_link" %></i>
        </div>
        </br>
        <div class="text-center">
          <i class="fa fa-github"></i> <i><%= link_to "Source Code ", "https://github.com/maxmetcalfe/Fog-City-Run-2.0/" %></i> <i><%= link_to "| File Bug", "https://github.com/maxmetcalfe/Fog-City-Run-2.0/issues/new" %></i>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
</body>