<!DOCTYPE html>
<html>
<head>
  <title>Races</title> 
  <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../../assets/stylesheets/welcome.scss" rel="stylesheet">
</head>
<body style="padding-top: 20px">
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
    <h1><b>Fog City Run</b></h1>
    <br>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align: center">
    <%= link_to "Info", about_path, class: "btn btn-warning btn-lg btn-block" %>
    <%= link_to "Results", races_path, class: "btn btn-warning btn-lg btn-block" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-5">
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <%= form_tag(racers_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search results by racer", class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: "btn btn-default" %>
          </span>
          <% end %>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
</body>
</html>