<%= form_for @racer do |r| %>
  <p>
    <%= r.label :first_name %><br>
    <%= r.text_field :first_name %>
  </p>
 
  <p>
    <%= r.label :last_name %><br>
    <%= r.text_field :last_name %>
  </p>
 
  <p>
    <%= r.submit %>
  </p>
<% end %>