<head>
  <title>Results</title>
  <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h2> Edit Result </h2>
    </div>
  </div>
  <%= form_for @result, :html => {:class => "form-horizontal "} do |r| %>
    <% if @result.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@result.errors.count, "error") %> prohibited
          this result from being saved:
        </h2>
        <ul>
          <% @result.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= r.label :bib, "Bib:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :bib, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :racer_id, "Racer:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :racer_id, class: "form-control", placeholder: "racer id" %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :group_name, "Group Name:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :group_name, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :time, "Time:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :time, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :race_id, "Race:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :race_id, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <div class="col-md-1 col-md-offset-1">
      <%=button_tag "Submit", class: "btn btn-default"%>
      </div>
    </div>
  <% end %>
</div>