<head>
  <title>Users</title>
  <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h2> New Result </h2>
    </div>
  </div>
  <%= form_for @result, :html => {:class => "form-horizontal "} do |r| %>
    <% if @result.errors.any? %>
      <div class="error-explanation">
        <ul>
          <% @result.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= r.label :bib, "Bib:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :bib, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :racer_id, "Racer:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.autocomplete_field :racer_id, autocomplete_racer_racers_path, class: "form-control" %>
          <%= r.hidden_field :racer_id, id: "racer_id_hidden"%>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :group_name, "Group Name:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.select :group_name, options_for_select(["ALL","Canine","Loop-Beer"]), {}, class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :time, "Time:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :time, class: "form-control", :value => '00:00:00.0' %>
        </div>
    </div>
    <div class="form-group">
      <%= r.label :race_id, "Race:", class: "col-md-1 control-label" %>
        <div class="col-md-3">
          <%= r.text_field :race_id, class: "form-control", :value => params[:race_id] %>
        </div>
    </div>
    <div class="form-group">
      <div class="col-md-1 col-md-offset-1">
      <%=button_tag "Submit", class: "btn btn-success"%>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    runAutocompleteDance();
  });
</script>