<head>
  <title>Results</title>
  <%= render "shared/navbar" %>
</head>
<p>
  <strong>Rank:</strong>
  <%= @result.rank %>
</p>
 
<p>
  <strong>Bib:</strong>
  <%= @result.bib %>
</p>

<p>
  <strong>Racer:</strong>
  <%= @result.racer_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @result.group_name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @result.time %>
</p>

<p>
  <strong>Race:</strong>
  <%= @result.race_id %>
</p>

<%= link_to 'Racers', racers_path %>
<%= link_to 'Results', results_path %>
<%= link_to 'Races', races_path %>