<head>
  <title>Racers</title>
  <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <h2> Import Results</h2>
      <%= form_tag upload_results_path, multipart: true do %>
        <%=file_field_tag :file%>
        <br>
        Date: <%=date_field_tag :date%>
        <br>
        <br>
        <%=button_tag "Import", class: "btn btn-success"%>
      <% end %>
    </div>
</div>