<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Home", root_path %></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" <%= link_to 'Racers', racers_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Races', races_path %></a>
    </li>
  </ul>
</nav>
<body style="padding-top: 60px">
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Results</th>
  </tr>
  </thead>
  <tbody>
  <% @racers.each do |racer| %>
    <tr>
      <td><%= racer.id %></td>
      <td><%= racer.first_name %></td>
      <td><%= racer.last_name %></td>
      <td><%= link_to 'Show', racer_path(racer) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>