<head>
  <title>Racers</title>
  <%= render "shared/navbar_racers" %>
</head>
<div class="container-fluid">
  <table class="table table-hover table-bordered sortable">
    <thead>
    <tr>
      <th>Racer</th>
      <th>Longest Streak</th>
      <th>Current Streak</th>
      <th>Results</th>
    </tr>
    </thead>
    <tbody>
    <% @racers.order("race_count DESC").each do |racer| %>
    <tr>
    <td><%= link_to racer.first_name + " " + racer.last_name, racer_path(racer) %>
    <% if !current_user.nil? and !User.where(racer_id: Racer.find(racer.id)).pluck(:strava_link).empty? %>
    <%= link_to image_tag("icon-strava-blue.svg", height: 18), User.where(:racer_id => racer).first.strava_link, :class => "fa-fw fa-lg" %></td>
    <% end %>
    <td><%= racer.longest_streak %></td>
    <td><%= racer.current_streak %></td>
    <td><%= racer.race_count %></td>
    <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <%= will_paginate @racers %>
  </div>
</div>