<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="<%= root_path %>"><b>Fog City Run</b> </a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" <%= link_to "Home", root_path %></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" <%= link_to 'Racers', racers_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Races', races_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Racer Count', count_path %></a>
    </li>
  </ul>
  <form class="navbar-form navbar-left" role="search">
    <div class="input-group">
      <%= form_tag(racers_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search racers...", class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-default" %>
        </span>
        <% end %>
    </div>
  </form>
</nav>
<body style="padding-top: 60px">
<div class="container-fluid">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Results</th>
      </tr>
      </thead>
      <tbody>
      <% Result.joins(:racer).group("racer_id").count(:racer_id).sort_by {|_key, value| value}.reverse.each do |result| %>
        <tr>
          <td><%= Racer.find(result[0]).first_name %></td>
          <td><%= Racer.find(result[0]).last_name %></td>
          <td><%= link_to result[1], racer_path(Racer.find(result[0])) %></td>
      <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>