<h1>New Racer</h1>

<%= form_for @racer do |r| %>
 
  <% if @racer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@racer.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @racer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= r.label :First %><br>
    <%= r.text_field :first_name %>
  </p>
 	
  <p>
    <%= r.label :Last %><br>
    <%= r.text_field :last_name %>
  </p>
 
  <p>
    <%= r.submit %>
  </p>
 
<% end %>