<head>
  <title>Racers</title>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
    <div class="panel panel-default">
    <div class="panel-heading">Racer Info</div>
    <div class="panel-body">
      <h2><%= @racer.first_name %> <%= @racer.last_name %></h2>
      <% if current_user.nil? %>
      Please login.
      <% elsif !current_user.nil? and current_user.racer_id.to_i == @racer.id.to_i %>
      <%= link_to "Edit", edit_user_path, :class => "btn btn-warning" %>
      <%= link_to image_tag("icon-strava-blue.svg", height: 30), User.where(:racer_id => @racer.id).first.strava_link, :class => "fa-fw fa-lg" %>
      <% elsif !current_user.nil? and User.pluck(:racer_id).include? @racer.id %>
      Another user has claimed this racer.
      <%= link_to image_tag("icon-strava-blue.svg", height: 30), User.where(:racer_id => @racer.id).first.strava_link, :class => "fa-fw fa-lg" %>
      <% elsif !current_user.nil? %>
      <%= link_to("Claim", edit_user_path(:user => current_user, :racer_id => @racer.id), :class => "btn btn-success")%>
      <% end %>
      <% if @has_results %>
      <h4>Races: <%= @racer.results.count %></h4>
      <h4>PR: <%= @racer.results.order(:time).first.time%></h4>
      <h4>Loop-Beer Runs: <%= @racer.results.where("group_name = ?", "Loop-Beer").count %></h4>
      <% end %>
      <%= @users_race_count %>
       </div>
      </div>
    </div>
    <div class="col-sm-5">
    <div class="panel panel-default">
    <div class="panel-heading">Streak Info</div>
    <div class="panel-body">
    <i class="fa fa-trophy fa-2x"></i>
    <h3 style="color:#f6b417">Current: <%= @racer.current_streak.to_s %></h3>
    <h6 style="color:#f6b417"><%= @current_streak_for_view %></h6>
    <h3 style="color:red">Longest: <%= @racer.longest_streak.to_s %></h3>
    <h6 style="color:red"><%= @longest_streak_for_view %></h6>
    </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Finish Places</div>
        <div class="panel-body">
          <%= bar_chart Result.where(racer_id: @racer.id).group(:rank).count, xtitle: "Finish Place", ytitle: "Count", title: "Finish Place Distribution", width: "300px", height: "250px", colors: ["#52a351"]%>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Bib Numbers</div>
        <div class="panel-body">
          <%= bar_chart Result.where(racer_id: @racer.id).group(:bib).count, xtitle: "Bib #{}", ytitle: "Count", title: "Finish Place Distribution", width: "300px", height: "250px", colors: ["#ff8080"]%>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Historical Finish Times</div>
        <div class="panel-body">
          <div class="racer-chart">
            <svg width="960" height="500" id="racer_chart"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Runs</div>
        <div class="panel-body">
          <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody>
          <% @racer.results.where("group_name != ?", "Loop-Beer").includes(:race).order("races.date DESC").each do |result| %>
            <tr>
              <td><%= link_to Race.find(result.race_id).date, race_path(Race.find(result.race_id)) %></td>
              <td><%= result.time %></td>
            </tr>
          <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Loop-Beer Runs</div>
        <div class="panel-body">
          <br>
            <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <% @racer.results.where("group_name = ?", "Loop-Beer").includes(:race).order("races.date DESC").each do |result| %>
              <tr>
                <td><%= link_to Race.find(result.race_id).date, race_path(Race.find(result.race_id)) %></td>
                <td><%= result.time %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
<script>
// Load the racer data to display racer-time-chart.js.
var racerData = <%= @racer_data %>;
$( document ).ready(function() {
    displayRacerChart(racerData);
});
</script>