<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="<%= root_path %>"><b>Fog City Run</b> </a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Racers', racers_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Races', races_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Racer Count', count_path %></a>
    </li>
      <li class="nav-item">
      <a class="nav-link" <%= link_to 'Records', records_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" <%= link_to 'Loop-Beer-Loop', loop_beer_path %></a>
    </li>
    <%= render "shared/import_button" %>
  </ul>
  <%= render "shared/login" %>
</nav>
<body style="padding-top: 70px">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
    <div class="panel panel-default">
    <div class="panel-heading">Racer Info</div>
    <div class="panel-body">
      <h2><%= @racer.first_name %> <%= @racer.last_name %></h2>
      <% if current_user.nil? %>
      Please login.
      <% elsif !current_user.nil? and current_user.racer_id.to_i == @racer.id.to_i %>
      <%= link_to "Edit", edit_user_path, :class => "btn btn-warning" %>
      <%= link_to image_tag("icon-strava-blue.svg", height: 30), current_user.strava_link, :class => "fa-fw fa-lg" %>
      <% elsif !current_user.nil? and User.pluck(:racer_id).include? @racer.id %>
      Another user has claimed this racer.
      <%= link_to image_tag("icon-strava-blue.svg", height: 30), User.where(:racer_id => @racer.id).first.strava_link, :class => "fa-fw fa-lg" %>
      <% elsif !current_user.nil? %>
      <%= link_to("Claim", user_path(current_user.id, :racer_id => @racer.id ), :method => :put, :confirm => "Are you sure?", :class => "btn btn-success")%>
      <% end %>
      <h4>Races: <%= @racer.results.count %></h4>
      <h4>PR: <%= @racer.results.order(:time).first.time%></h4>
      <h4>Loop-Beer Runs: <%= @racer.results.where("group_name = ?", "Loop-Beer").count %></h4>
       </div>
      </div>
    </div>
    <div class="col-sm-5">
    <div class="panel panel-default">
    <div class="panel-heading">Streak Info</div>
    <div class="panel-body">
    <h3 style="color:#f6b417"><i class="fa fa-trophy fa-2x" style="color:#f6b417"></i>Current: <%= @current_streak.to_s %></h3>
    <h3 style="color:red"><i class="fa fa-trophy fa-2x" style="color:red"></i>Longest: <%= @longest_streak_count.to_s %></h3>
      </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= bar_chart Result.where(racer_id: @racer.id).group(:rank).count, xtitle: "Finish Place", ytitle: "Count", title: "Finish Place Distribution", width: "300px", height: "250px", colors: ["#52a351"]%>
    </div>
    <div class="col-md-3">
      <%= bar_chart Result.where(racer_id: @racer.id).group(:bib).count, xtitle: "Bib #{}", ytitle: "Count", title: "Finish Place Distribution", width: "300px", height: "250px", colors: ["#ff8080"]%>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-large-1">
      <%= line_chart @results_to_show, colors: ["#4689ce"], xtitle: "Date", ytitle: "Finish Time (seconds)" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    <h4>Races</h4>
    <br>  
    <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <% @racer.results.includes(:race).order("races.date DESC").each do |result| %>
      <tr>
        <td><%= link_to Race.find(result.race_id).date, race_path(Race.find(result.race_id)) %></td>
        <td><%= result.time %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
    </div>
  <div class="col-md-2">
    <h4>Loop-Beer Runs</h4>
    <br>
      <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <% @racer.results.where("group_name = ?", "Loop-Beer").includes(:race).order("races.date DESC").each do |result| %>
        <tr>
          <td><%= link_to Race.find(result.race_id).date, race_path(Race.find(result.race_id)) %></td>
          <td><%= result.time %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
</div>
</body>
</html>