<head>
  <title>Orders</title>
  <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h2> Edit Order </h2>
    </div>
  </div>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @order, :html => {:class => "form-horizontal "} do |u| %>
  <div class="form-group">
    <%= u.label :id, "id:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :id, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :user, "user_id:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :user_id, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :item, "item:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :item, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= u.label :delivered, "delivered:", class: "col-md-1 control-label" %>
      <div class="col-md-3">
        <%= u.text_field :delivered, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <div class="col-md-1 col-md-offset-1">
    <%=button_tag "Update", class: "btn btn-success"%>
    </div>
  </div>
  <% end %>
</div>