<head>
  <title>Order</title>
  <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <h2> Order </h2>
  <p>
    <strong>Order ID:</strong>
    <%= @order.id %>
  </p>
  <p>
    <strong>Item:</strong>
    <%= @order.item %>
  </p>
  <p>
    <strong>Quanity:</strong>
    <%= @order.quantity %>
  </p>
  <p>
    <strong>Delivered:</strong>
    <%= @order.delivered %>
  </p>
  <%= link_to 'Back to shop', shop_path %></a>
  </div>
</div>