<head>
  <title>Racers</title>
    <%= render "shared/navbar" %>
</head>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <% if current_user and @user_shop_blocked %>
      <div class="alert alert-danger">
        You need to have comleted 15 or more races before you can place a hat order.
      </div>
      <% elsif current_user and !@user_shop_blocked and @user_orders.nil?%>
      <div class="alert alert-info">
        You have completed enough races. Please place a hat order and/or a t-shirt order.
      </div>
      <% elsif !@user_shop_blocked and !@user_orders.nil? %>
        <div class="alert alert-info">
          <b>Your current orders:</b>
          <br>
          <table class="table table-hover table sortable">
            <thead>
            <tr>
              <th>Item</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <% @user_orders.each do |order| %>
              <tr>
                <td><%= order.item %></td>
                <td><%= order.size %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          Select a new item below to modify your selection.
        </div>
      <% else %>
      <div class="alert alert-info">
        Please login to place an order.
      </div>
      <% end %>
    <div class="text-center">
      <br>
      <div class="row">
        <div class="col-md-3">
          <b>The Divis</b>
          <br>
          <i>(District Neon Flat Bill Snapback Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v1.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Divis", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
          <% if current_user && current_user.admin? %>
          <h4>
            Count: <%= Order.where(:item => "The Divis").sum(:quantity) %>
            (<%= ((Order.where(:item => "The Divis").sum(:quantity) / 10.0) * 100.0).round(2)%>%)
          </h4>
          <% end %>
        </div>
        <div class="col-md-3">
          <b>The Lombard Gate</b>
          <br>
          <i>(Sportsman Vintage Trucker Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v2.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Lombard Gate", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
          <% if current_user && current_user.admin? %>
          <h4>
            Count: <%= Order.where(:item => "The Lombard Gate").sum(:quantity) %>
            (<%= ((Order.where(:item => "The Lombard Gate").sum(:quantity) / 12.0) * 100.0).round(2)%>%)
          </h4>
          <% end %>
        </div>
        <div class="col-md-3">
          <b>The Filbert St. Hop</b>
          <br>
          <i>(Sportsman Vintage Trucker Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v3.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Filbert St. Hop", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
          <% if current_user && current_user.admin? %>
          <h4>
            Count: <%= Order.where(:item => "The Filbert St. Hop").sum(:quantity) %>
            (<%= ((Order.where(:item => "The Filbert St. Hop").sum(:quantity) / 12.0) * 100.0).round(2)%>%)
          </h4>
          <% end %>
        </div>
        <div class="col-md-3">
          <b>The Buchanan</b>
          <br>
          <i>(Yupoong Retro Trucker Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v4.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Buchanan", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
          <% if current_user && current_user.admin? %>
          <h4>
            Count: <%= Order.where(:item => "The Buchanan").sum(:quantity) %>
            (<%= ((Order.where(:item => "The Buchanan").sum(:quantity) / 10.0) * 100.0).round(2)%>%)
          </h4>
          <% end %>
        </div>
      </div>
      <% if current_user && current_user.admin? %>
      <div class="row">
        <div class="panel panel-info">
          <div class="panel-heading">Order Admin Info</div>
          <div class="panel-body">
            <h3> <%= @percent_valid %> % of eligible users have ordered their hats (<%= @total_hat_orders %>/<%= @eligible_users %> ) </h3>
        </div>
      </div>
      </div>
      <% end %>
      <div class="row">
        <b>Year 4 T-Shirt</b>
        <br>
        <i>(Imported from Brazil)</i>
        <br>
        <br>
        <%= image_tag "fcr_4y_shirt" %>
      </div>
      <br>
      <div class="row">
        <% if current_user and !@user_shop_blocked %>
        <div class="btn-group">
          <%= link_to 'Female', new_order_path(:item => "4YT-Shirt", :size => "F-small", :user_id => current_user.id ), :class => "btn btn-info disabled" %>
          <%= link_to 'S', new_order_path(:item => "4YT-Shirt", :size => "F-small", :user_id => current_user.id ), :class => "btn btn-default" %>
          <%= link_to 'M', new_order_path(:item => "4YT-Shirt", :size => "F-medium", :user_id => current_user.id ), :class => "btn btn-default" %>
          <%= link_to 'L', new_order_path(:item => "4YT-Shirt", :size => "F-large", :user_id => current_user.id ), :class => "btn btn-default" %>
          <%= link_to 'XL', new_order_path(:item => "4YT-Shirt", :size => "F-xlarge", :user_id => current_user.id ), :class => "btn btn-default" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="btn-group">
          <%= link_to 'Male', new_order_path(:item => "4YT-Shirt", :size => "M-small", :user_id => current_user.id ), :class => "btn btn-info disabled" %>
          <%= link_to 'S', new_order_path(:item => "4YT-Shirt", :size => "M-small", :user_id => current_user.id ), :class => "btn btn-default" %>
          <%= link_to 'M', new_order_path(:item => "4YT-Shirt", :size => "M-medium", :user_id => current_user.id ), :class => "btn btn-default" %>
          <%= link_to 'L', new_order_path(:item => "4YT-Shirt", :size => "M-large", :user_id => current_user.id ), :class => "btn btn-default" %>
          <%= link_to 'XL', new_order_path(:item => "4YT-Shirt", :size => "M-xlarge", :user_id => current_user.id ), :class => "btn btn-default" %>
        </div>
      </div>
      <br>
      <div class="row">
        <% end %>
        <% if current_user && current_user.admin? %>
        <div class="panel panel-info">
          <div class="panel-heading">Order Admin Info</div>
          <div class="panel-body">
            <h3>
              <div class="row">
                Female Shirt Count - 
                S: <%= Order.where(:item => "4YT-Shirt").where(:size => "F-small").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "F-small").sum(:quantity) / 6.0) * 100.0).round(2)%>%),
                M: <%= Order.where(:item => "4YT-Shirt").where(:size => "F-medium").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "F-medium").sum(:quantity) / 6.0) * 100.0).round(2)%>%),
                L: <%= Order.where(:item => "4YT-Shirt").where(:size => "F-large").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "F-large").sum(:quantity) / 6.0) * 100.0).round(2)%>%)
                XL: <%= Order.where(:item => "4YT-Shirt").where(:size => "F-xlarge").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "F-xlarge").sum(:quantity) / 2.0) * 100.0).round(2)%>%)
              </div>
              <br>
              <div class="row">
                Male Shirt Count - 
                S: <%= Order.where(:item => "4YT-Shirt").where(:size => "M-small").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "M-small").sum(:quantity) / 5.0) * 100.0).round(2)%>%),
                M: <%= Order.where(:item => "4YT-Shirt").where(:size => "M-medium").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "M-medium").sum(:quantity) / 10.0) * 100.0).round(2)%>%),
                L: <%= Order.where(:item => "4YT-Shirt").where(:size => "M-large").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "M-large").sum(:quantity) / 10.0) * 100.0).round(2)%>%)
                XL: <%= Order.where(:item => "4YT-Shirt").where(:size => "M-xlarge").sum(:quantity) %>
                (<%= ((Order.where(:item => "4YT-Shirt").where(:size => "M-xlarge").sum(:quantity) / 5.0) * 100.0).round(2)%>%)
              </div>
            </h3>
          </div>
        </div>
        <% end %>
    </div>
    <br>
  </div>
</div>