<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
    <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
<body>
  <div class="container">
    <div class="row">
      <% if current_user and @user_shop_blocked %>
      <div class="alert alert-danger">
        You need to have comleted 30 or more races before you can place an order.
      </div>
      <% elsif current_user and !@user_shop_blocked and @user_order.nil?%>
      <div class="alert alert-info">
        You have completed enough races. Please place an order.
      </div>
      <% elsif !@user_shop_blocked and !@user_order.nil? %>
        <div class="alert alert-info">
          <b>Your current order:</b>
          <%= @user_order.item %> in size <%= @user_order.size %>.
          Select a new item below to modify your selection.
        </div>
      <% else %>
      <div class="alert alert-info">
        Please login to place an order.
      </div>
      <% end %>
    <div class="text-center">
      <br>  
      <div class="row">
        <div class="col-md-3">
          <b>The Divis</b>
          <br>
          <i>(District Neon Flat Bill Snapback Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v1.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Divis", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
        </div>
        <div class="col-md-3">
          <b>The Lombard Gate</b>
          <br>
          <i>(Sportsman Vintage Trucker Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v2.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Lombard Gate", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
        </div>
        <div class="col-md-3">
          <b>The Filbert St. Hop</b>
          <br>
          <i>(Sportsman Vintage Trucker Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v3.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'Select', new_order_path(:item => "The Filbert St. Hop", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
        </div>
        <div class="col-md-3">
          <b>The Buchanan</b>
          <br>
          <i>(Yupoong Retro Trucker Hat)</i>
          <br>
          <br>
          <%= image_tag "fcr_hat_v4.png" %>
          <br><br>
          <% if current_user and !@user_shop_blocked %>
          <%= link_to 'One Size Fits All', new_order_path(:item => "The Buchanan", :size => "One Size Fits All", :user_id => current_user.id ), :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</body>
</html>
