<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<h1>Racers</h1>
There are <%= @racers.count %> total racers.
<br>
<br>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
 
  <% @racers.each do |racer| %>
    <tr>
      <td><%= racer.id %></td>
      <td><%= racer.first_name %></td>
      <td><%= racer.last_name %></td>
      <td><%= link_to 'Show', racer_path(racer) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Racers', racers_path %>
<%= link_to 'Results', results_path %>
<%= link_to 'Races', races_path %>
</html>