<h1>Racers</h1>
There are <%= @racers.count %> total racers.
<br>
<br>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
 
  <% @racers.each do |racer| %>
    <tr>
      <td><%= racer.id %></td>
      <td><%= racer.first_name %></td>
      <td><%= racer.last_name %></td>
      <td><%= link_to 'Show', racer_path(racer) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Racers', racers_path %>
<%= link_to 'Results', results_path %>
<%= link_to 'Races', races_path %>