<p>
  <strong>First Name:</strong>
  <%= @racer.first_name %>
</p>
 
<p>
  <strong>Last_name:</strong>
  <%= @racer.last_name %>
</p>

<%= @racer.first_name %> has run <%= @racer.results.count %> total races.

<br>
<br>
<%= link_to 'Racers', racers_path %>
<%= link_to 'Results', results_path %>
<%= link_to 'Races', races_path %>
<br>

<h2>Results</h2>
<% @racer.results.each do |result| %>

  <p>
    <%= Race.find(result.race_id).date %> : <%= result.time %>
  </p>
<% end %>

<%= link_to 'Racers', racers_path %>
<%= link_to 'Results', results_path %>
<%= link_to 'Races', races_path %>