<p>
  <strong>ID:</strong>
  <%= @racer.id %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @racer.first_name %>
</p>
 
<p>
  <strong>Last_name:</strong>
  <%= @racer.last_name %>
</p>

<h2>Results</h2>
<% @racer.results.each do |result| %>
  <p>
    <strong>Time:</strong>
    <%= result.time %>
  </p>
 
  <p>
    <strong>Race ID:</strong>
    <%= result.race_id %>
  </p>
<% end %>

<%= link_to 'Racers', racers_path %>
<%= link_to 'Results', results_path %>
<%= link_to 'Races', races_path %>