<!DOCTYPE html>
<html>
<head>
  <title>Fog City Run</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//fast.eager.io/8zFOq25yxx.js"></script>
  <%= render "shared/navbar" %>
</head>
<body>

<%= render "shared/flash_messages" %>

<%= yield %>

</body>
</html>
